
/*Standard Element Modifications*/
body {
    /* Basic Body Positioning*/
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*Background & Border Colors*/
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    background-position: top left;
    /* Font Styles*/
    font-family: Verdana, Arial, sans-serif;
    font-size: 100%;
    color: #222;
}

/* unvisited link */
a:link {
    color: #06C;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: #65C;
}

/* mouse over link */
a:hover {
    color: #F60;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #F60;
}

hr {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}


.modalContainer{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:9999;
}
/* Page ID Modifications ---------------------------------------*/

#LoadingDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1Px;
    right: 0;
    background: #e5e5e5 url('http://business.fullerton.edu/images/mihaylo-bg-new33.gif') repeat-x 0px 0px;
    text-align: center;
    color: #2255BB;
    z-index: 9999;
}

#LoadingText {
    position: absolute;
    font-size: 300%;
    top: 45%;
    left: 45%;
}

#MinifyNavButton{
    width:200px;
}

#Wrapper {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#ActionMenu {
    position: absolute;
    top: 10px;
    left: 5px;
    bottom: 10px;
    width: 215px;
    margin: 0;
    padding: 0px;
    z-index:99;
}

#ContentWrapper {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 225px;
    right: 5px;
    margin: 0;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
}

#Header {
    position: relative;
    padding: 5px;
    margin: 5px;
}

#MainContent {
    position: relative;
    padding: 5px;
    margin: 5px;
}

#Footer {
    position: relative;
    padding: 5px;
    margin: 5px;
}

/*Special Animation Classess*/

.CollapsedLeftNav {
    margin-left: -225px !important;
}

/*Page Class Modifications
*/



.modalContainer {
    position: fixed;
    z-index: 9999;
}

/*Multi-Column Layout*/
.columnA {
    left: 0;
    right: auto;
    width: 145px;
    border-right: thin solid #000;
}

.columnB {
    left: 150px;
    right: 0;
}

/* Table Display Layout */

.display-table {
    display: table;
}

.display-row {
    table-layout: fixed;
    display: table-row;
}

.display-cell {
    table-layout: fixed;
    display: table-cell;
}


.noDisplay{
    display:none;

}


/*COLORS*/

.waterbg {
    background-color: #AABBFF;
}

.firebg {
    background-color: #FFBBAA;
}

.earthbg {
    background-color: #BBFFAA;
}

.thunderbg {
    background-color: #FFFFAA;
}

.darkbg {
    background-color: #BBAAEE;
}

.lightbg {
    background-color: #FFFFFF;
}

.normalbg {
    background-color: #CCCCCC;
}

.all {
    background-color: #CCCCCC;
}


