
/*Standard Element Modifications*/
body {
    /* Basic Body Positioning*/
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;

    /*Background & Border Colors*/

    background-color:#FFFFFF;
    background-image:url(images/FadingBackground.gif);
    background-repeat:repeat-x;
    background-position:top left;

    /* Font Styles*/

    font-family:Verdana, Arial, sans-serif;
    font-size:100%;
    color:#222;
    
}

/* unvisited link */
a:link {
    color: #06C;
    text-decoration:underline;
}

/* visited link */
a:visited {
    color: #65C;
}

/* mouse over link */
a:hover {
    color: #F60;
    text-decoration:underline;
}

/* selected link */
a:active {
     color: #F60;
}

hr {
    margin:0;
    padding:0;
}

/* Page ID Modifications ---------------------------------------*/
#Wrapper{
    width:100%;
	max-width:960px;
	position:absolute;
	margin:0 auto;
	left:0;
	right:0;
	top:0px;
    bottom:15px;
	padding:20px;
    box-sizing:border-box;
    background-color:#FFF;
}

#Header{
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:150px;
    margin:0px;
    
    border-bottom:thin solid #000;
}

#FullertonBannerImage{
    border:none;
    margin:0;
    padding:0;
}

#MainContent{
   position:absolute;
   top:150px;
   bottom:100px;
   left:0;
   right:0;
   margin: 10px 5px 10px 5px;   
   overflow-y:auto;
   overflow-x:hidden;

}

#Footer{
   position:absolute;
   bottom:0;
   height:100px;
   margin:5px;
   border-top:thin solid #000;
}

#MainMenu{
    position:absolute;
    top:0;
    bottom:0;
    margin:5px;
    padding:0;
}

#MainMenu ul
{
    list-style:none;
    padding-left:0;
    margin-top:5px;
}

#MainMenu li{
    padding-top:10px;
}

#MainBanners{
    position:relative;
    top:0;
    left:0;
    right:0;
    height:120px;
    padding:0;
    overflow:hidden;
}

#MainBanners-CSUF{
    position:relative;
    height:33px;
    background:url('http://business.fullerton.edu/images/banners/csuf-banner-2014-960.png');    
}

#MainBanners-CSUF-Title
{
    width:100%;
    height:33px;
}


#MainBanners-Search
{
    width:280px;
    text-align:right;
    padding-right:8px;
    line-height:0;
    margin:0;
    padding:0;
}

#MainBanners-MihayloImage{
    position:relative;
    top:0;
    left:0;
    right:0;
    height:78px;
    background-image:url(images/MihayloBanner.png);
    background-position:top left;
    background-repeat:no-repeat;
}

/*Page Class Modifications
*/

.button
{
    cursor:pointer;
}

.modalContainer {
    position:fixed;
    z-index:9999;
}

.search-button{
    background:url('http://business.fullerton.edu/images/search-btn.gif');
    background-color:#FFF;
    background-position:left top;
    background-size:contain;
    border:none;
    height:24px;
    width:32px;
    margin:0;
    padding:0;
    cursor:pointer;
}

.search-box{
    height:20px;
    background-color:#FFF;
    border:none;
    padding:2px;
}

/*Multi-Column Layout*/
.columnA
{
    left:0;
    right:auto;
    width:145px;
    border-right:thin solid #000;
}

.columnB{
    left:150px;
    right:0;
   
}

/* Table Display Layout */

.display-table{
    display:table;
}
.display-row{
    table-layout:fixed;
    display:table-row;
}
.display-cell{
    table-layout:fixed;
    display:table-cell;
}


